{% extends "filters/layout.html" %}
{% load widget_tweaks %}

{% block title %}Qualify URL{% endblock %}

{% block content %}
    <div class="container text-xs-center">
        <div class="jumbotron jumbotron-fluid bg-success">
            <div class="container text-sm-center">
                <h3 class="display-3">Qualify URL App</h3>
                <p class="lead">Check URL's content for certain keywords</p>
                <p class="lead">VR Page: {{ vrpage.name }}</p>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success" role="alert">
                        <strong>Well done!</strong> {{ keywords_present|length }} keyword{{ keywords_present|length|pluralize }} {{ message }}
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <div class="alert alert-info" role="alert">
                        <strong>I'm sorry!</strong> {{ message }}
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Oh snap!</strong> {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form action="" method="POST">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <h4 class="m-b-2">Raw URL</h4>
            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field|add_class:'form-control' }}
                    {#<textarea class="form-control" id="inputurl" rows="15"></textarea>#}
                </div>
            {% endfor %}
            {% csrf_token %}
            <input type="submit" value="Check" class="btn btn-success btn-lg">
        </form>
        {% if keywords_present %}
            <h4 class="m-t-2">Keywords: {{ keywords_present|length }}</h4>
            <ul class="list-group">
                {% for keyword in keywords_present %}
                <li class="list-group-item">{{ keyword.0 }}
                    <span class="tag tag-info tag-pill pull-xs-right">{{ keyword.1 }}</span>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        <h6 class="m-t-3">Version 1.0 by Renelle Tigue</h6>
    </div>
{% endblock %}