{% extends "filters/layout.html" %}

{% block title %}Qualify URL List{% endblock %}

{% block content %}
    <div class="container text-xs-center">
        <div class="jumbotron jumbotron-fluid bg-success">
            <div class="container text-sm-center">
                <p class="display-2">Qualify URL List</p>
                <p class="lead">Check URL's content for certain keywords</p>
            </div>
        </div>
        <div class="list-group">
            {% for vrpage in vrpages %}
            <a href="{% url 'filter:qualify_url' vrpage_pk=vrpage.pk %}" class="list-group-item list-group-item-action">
                {{ vrpage }}
            </a>
            {% endfor %}
        <hr class="m-t-3">
        <h6>Version 1.0 by Renelle Tigue</h6>
    </div>
{% endblock %}