{% extends "filters/layout.html" %}

{% block title %}Filter App{% endblock %}

{% block content %}
    <div>
        <h1>Upload a csv file in utf-8 format</h1>
        <form enctype="multipart/form-data" action="" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Upload">
        </form>
        <p>There are {{ raw_urls|length }} raw urls.</p>
        <p>There are {{ refine_raw_urls|length }} refined raw urls.</p>
        <p>There are {{ bad_urls|length }} bad urls.</p>
        <p>There are {{ good_urls|length }} good urls.</p>
        <p>Download the good raw urls in csv format <a href="/media/cleanurls.csv">here</a></p>
    </div>
{% endblock %}