{% extends "filters/layout.html" %}
{% load widget_tweaks %}

{% block title %}Filter App{% endblock %}

{% block content %}
    <h1 class="display-1">Filter App</h1>
    <p class="lead">Clean your raw urls by filtering and deleting bad urls!</p>
    <p></p>
    <p>Please upload your raw urls in csv format below.</p>
    <form enctype="multipart/form-data" action="" method="POST">
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div class="form-group">
            <label class="custom-file">
            {{ field|add_class:'custom-file-input' }}
            <span class="custom-file-control"></span>
            </label>
            </div>
        {% endfor %}
        {% csrf_token %}
        <input type="submit" value="Start Filter" class="btn btn-success">
    </form>
    <p></p>
    <p>There are {{ raw_urls|length }} raw urls.</p>
    <p>There are {{ bad_urls|length }} bad raw urls.</p>
    <p>There are {{ good_urls|length }} good raw urls.</p>
    <p>Download the good raw urls in csv format <a href="/media/cleanurls.csv">here</a></p>
{% endblock %}